body {
    padding: 0px;
    margin: 0px;
    background: #ffffff;
}

.base_wrapper {
    top: 0px;
    left: 0px;
    position: relative;
    width: auto;
    background: #ffffff;
}

.asu_header {
    position: relative;
    height: 93px;
    background-image: url("../../_themes/blue/images/head.gif");
    border-bottom: 5px solid #ffffff;
}

.asu_header_asu_logo {
    float: left;
    background-image: url("../../_themes/blue/images/left_logo_asu2.gif");
    height: 93px;
    width: 127px;
}

.asu_header_ugatu_logo {
    float: right;
    background-image: url("../../_themes/blue/images/head.gif");
    background-repeat: repeat-x;
}

.asu_header_content {
    text-align: center;
    color: #ffffff;
    padding-top: 15px;
}

.asu_header_content p {
    padding: 0px;
    margin: 0px;
    padding-bottom: 5px;
}

.asu_auth_info a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.asu_body {
    position: relative;
}

.asu_left {
    width: 155px;
    padding: 5px;
}

.center_no_menu {
    margin-left: 55px;
}

.center_wap {
    margin-left: 0px;
}

.asu_hidemenu {
    width: 45px;
}

.asu_hidemenu img {
    cursor: pointer;
}

.asu_right p {
    text-align: center;
}

.asu_right img {
    border: none;
}

.asu_footer {
    height: 25px;
    background-image: url("../../_themes/blue/images/footer.gif");
}

.align_left {
    float: left;
}

.align_right {
    float: right;
}

.tagit-hiddenSelect {
    display: none;
}

#asu_auth p {
    clear:both;
}

#asu_auth input {
    width: 200px;
}

#asu_auth label {
    padding: 0px;
    font-weight: normal;
    width: 75px;
}

.asu_help_block {
    border: 1px solid #c0c0c0;
    padding: 5px;
    padding-left: 45px;
    background-image: url(../../images/tango/32x32/apps/help-browser.png);
    background-repeat: no-repeat;
    background-position: 5px center;
    min-height: 37px;
}

#asu_wap_switch {
    width: 100px;
    height: 87px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-bottom: 20px;
    cursor: pointer;
    background-image: url(../../_themes/blue/images/wap.gif);
}

.field_required {
    margin-left: 5px;
    color: red;
    font-weight: bold;
}

.asu_more {
    border: 1px solid #000000;
    padding: 3px;
    margin-top: 5px;
    background: #eeeeee;
    cursor: pointer;
}

.asu_center_home {
    margin-right: 205px;
}

.asu_right_home {
    width: 200px;
}

.asu_right_home_block {
    width: 95px;
    float: left;
    margin-bottom: 10px;
}

.asu_right_home_widget {
    margin-bottom: 10px;
}

.asu_char_select {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.asu_char_select a {
    text-decoration: none;
}

p.error {
    color: #c20000;
    font-weight: bold;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url("loader.gif");
    background-repeat: no-repeat;
    background-position: center center;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
    display: block;
}

.asu_menu {
    display: block;
    position: relative;
}

.menu_item_container {
    text-align: center;
    padding-bottom: 5px;
}

.menu_children_container {
    display: none;
    padding-bottom: 5px;
}

.menu_child_container img {
    padding-right: 5px;
}

.componentLoadingWrapper {
    border: 1px solid #c0c0c0;
    background: #eeeeee;
    background-image: url("../../images/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
    min-height: 200px;
}

.asu_component .menu_item_container a {
    width: 100px;
    display: block;
    text-align: center;
}