_core/_external/smarty/compile/*
*.DS_Store
*.odt
sql_connect_credentials.php
.idea
*.zip
_core/_cache/*
f_mails/*
library/grants/*
images/editor_uploaded/*
images/news/*
/library
/user_pages
.buildpath
.project
.settings
_modules/docs_tpl/*
tmp/smarty/*
tmp/timthumb/*
news/attachement/*
