body {
	font-family: 	tahoma;
	font-size:		11px;
	color: 			black;
	text-decoration: none;
}

td {
	font-family: 	tahoma;
	font-size:		11px;
	color: 			black;
	text-decoration: none;
}

th {
	font-weight:	bold; 
	background: #E6E6FF;
}

tr {
	background: #DFEFFF;
}

tr:hover {
	background: #fffafa;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

a:hover {
	text-decoration: underline; 
}
