table.indplan  {
  font-size:11px;
  font-family:Tahoma, Arial, sans-serif;
  text-align:left;
  font-weight:normal;
  background-color:#DFEFFF;
  border-collapse:collapse;
  }
.indplan  {
  font-size:13px;
  font-family:Tahoma, Arial, sans-serif;
  background-color:#E6E6FF
  }
table.white
  {background-color:white}
table.cent  {
  font-size:11px;
  text-align:center;
  font-weight:bold;
  font-family:Tahoma, Arial, sans-serif;
  background-color:#DFEFFF;
  border-collapse:collapse;
  }
